button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-delete {
    background: red;
    color: white;

}

.btn-delete:hover {
    background: darkred;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.4);
}
.btn-manage {
    background: white;
    color: black;
}
.btn-manage:hover {
    background: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.splash-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
div{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
